<div class="contents row">
  <% @items.each do |item| %>
    <div class="content_post" style="background-image: url(<%= item.image %>);">
      <p><%= image_tag item.image.variant(resize: '150x150') if item.image.attached? %></p>
      <span class="item_name">
        <%= item.item_name %>
      </span>
    </div>
  <% end %>
</div>