/*************
全体 
**************/

body {
  font-family: メイリオ;
}

a {
  text-decoration: none; 
}

/*************
ヘッダー
**************/

.header_bar {
  padding: 10px;
  background-color: #990000;
  position: sticky;
  z-index: 999;
  height: 62px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.header_logo {
  font-size: 30px;
  font-weight: bold;
}

a.header {
  color: #ffffff;
}

.header_right {
  display: flex;
}

.header_botton {
  padding: 10px;
  margin-left: 5px;
  border: solid 2px #ffffff;
  border-radius: 10px;
}


/*************
アイテム一覧表示
**************/

.index_top {
  color: #990000;
}

.index_main {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.index_item {
  background-color: #ffffff;
  border: #990000 solid 1px;
  border-radius: 10px;
  height: 100vm;
  width: 200px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #990000;
}

.index-image {
  border-radius: 10px;
  height: 40vm;
  width: 40vm;
}

.item_name {
  font-size: 15px;
  color: #990000;
  text-decoration: none;
}

.item_rating, .item_category {
  font-size: 10px;
}

.item-user {
  font-size: 13px;
  color: #990000;
  text-decoration: none;
}

/*************
アイテム検索フォーム
**************/

.search {
  padding: 20px 20px 0px 20px;
}

.search-input {
  height: 20px;
  width: 300px;
  border: #990000 solid 1px;
  border-radius: 5px;
  padding: 10px;
}

.search-btn {
  background-color: #990000;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  padding: 10px;
  width: 100px;
}

.search-btn:hover {
  background-color: #ffffff;
  color: #990000;
  border: #990000 solid 1px;
}



/*************
アイテム詳細表示
**************/

.show-item {
  background-color: #ffffff;
  border-radius: 10px;
  border: #990000 solid 1px;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100vm;
  color: #990000;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.show-item-image {
  width: 50%;
  height: 50%;
  border-radius: 30px;
}

.show-item_name {
  font-size: 20px;
  font-weight: bold;
  color: #990000;
}

.show-item_rating, .show-item_category {
  font-size: 10px;
}

.show-item-description {
  font-size: 15px;
  font-weight: bold;
  color: #990000;
}

.show-item-user {
  background-color: #ffffff;
  color: #990000;
  border: #990000 dotted 2px;
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.show-item-username {
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  color: #990000;
}

.show-item-userinfo { 
  font-size: 11px;
}

.show-item-btn {
  background-color: #990000;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  padding: 10px;
  width: 100px;
}

.show-item-btn:hover {
  background-color: #ffffff;
  color: #990000;
  border: #990000 solid 1px;
}




/*************
新規登録
**************/

.sign_up {
  background-color: #ffffff;
  border: #990000 solid 1px;
  border-radius: 10px;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100vm;
  color: #990000;
}

.sign_up_title {
  font-weight: bold;
  font-size: 20px;
}

.sign_up_explain {
  font-size: 12px;
}

.form-text, .form-text-wrap {
  font-size: 13px;
}

.indispensable {
  color: #ffffff;
  background-color: #990000;
  font-size: 10px;
  padding: 1px;
}

.input-default {
  height: 20px;
  width: 300px;
  border-radius: 5px;
  border: #990000 solid 1px;
}

.select-box {
  height: 20px;
  border-radius: 5px;
  border: #990000 solid 1px;
}

.birth-date {
  height: 30px;
  border: #990000 solid 1px;
}

.sign_up_botton {
  background-color: #990000;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  padding: 10px;
  width: 100px;
}

.sign_up_botton:hover {
  background-color: #ffffff;
  color: #990000;
  border: #990000 solid 1px;
}

/*************
ログイン
**************/

.login {
  background-color: #ffffff;
  border: #990000 solid 1px;
  border-radius: 10px;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100vm;
  color: #990000;
}

.login_title {
  font-weight: bold;
  font-size: 20px;
}

.form-label {
  font-size: 13px;
}

.form {
  height: 20px;
  width: 300px;
  border: #990000 solid 1px;
  border-radius: 5px;
}

.login_btn {
  background-color: #990000;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  padding: 10px;
  width: 100px;
}

.login_btn:hover {
  background-color: #ffffff;
  color: #990000;
  border: #990000 solid 1px;
}


/*************
ユーザーマイページ
**************/

.user-show {
  background-color: #990000;
  border: #990000 solid 1px;
  border-radius: 10px;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100vm;
  color: #ffffff;
}

.user-show-main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 12px;

}

.user-show-title {
  font-weight: bold;
  font-size: 20px;
  width: 150px;
  height: 150px;
  border: #ffffff dotted 2px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}



/*************
アイテム投稿画面・編集画面
**************/

.items-post {
  background-color: #ffffff;
  border: #990000 solid 1px;
  border-radius: 10px;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100vm;
  color: #990000;
}

.items-post-title {
  font-weight: bold;
  font-size: 20px;
}

.items-text {
  border: #990000 solid 1px;
  border-radius: 5px;
  width: 300px;
}

.post-btn {
  background-color: #990000;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  padding: 10px;
  width: 100px;
}

.post-btn:hover {
  background-color: #ffffff;
  color: #990000;
  border: #990000 solid 1px;
}


/*************
フッター
**************/

.footer_bar {
  position: sticky;
  padding: 1px;
  display: flex;
  justify-content: center;
  background-color: #990000;
  color: #ffffff;
  font-size: small;
}